# Target
BR2_arm=y
BR2_cortex_a53=y
BR2_ARM_FPU_VFPV4D16=y
BR2_TOOLCHAIN_BUILDROOT_GLIBC=y
BR2_INIT_BUSYBOX=y
BR2_GLOBAL_PATCH_DIR=""
BR2_TARGET_GENERIC_HOSTNAME="pitrezor"
BR2_TARGET_GENERIC_ISSUE="PiTrezor (Buildroot)"
BR2_TARGET_GENERIC_REMOUNT_ROOTFS_RW=y

# Rootfs overlay
BR2_ROOTFS_OVERLAY="$(BR2_EXTERNAL_PITREZOR_PATH)/overlay"

# Disable getty/login
BR2_TARGET_GENERIC_GETTY=n

# Linux kernel (Raspberry Pi 3 / bcm2709)
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_USE_DEFCONFIG=y
BR2_LINUX_KERNEL_CUSTOM_TARBALL=y
BR2_LINUX_KERNEL_CUSTOM_TARBALL_LOCATION="https://github.com/raspberrypi/linux/archive/refs/tags/1.20230405.tar.gz"
BR2_LINUX_KERNEL_DEFCONFIG="bcm2709_defconfig"
BR2_LINUX_KERNEL_DTS_SUPPORT=y
BR2_LINUX_KERNEL_INTREE_DTS_NAME="bcm2710-rpi-3-b"

# Raspberry Pi firmware
BR2_PACKAGE_RPI_FIRMWARE=y
BR2_PACKAGE_RPI_FIRMWARE_VARIANT_PI3=y
BR2_PACKAGE_RPI_FIRMWARE_CONFIG_FILE="$(BR2_EXTERNAL_PITREZOR_PATH)/board/pitrezor/config.txt"
BR2_PACKAGE_RPI_FIRMWARE_CMDLINE_FILE="$(BR2_EXTERNAL_PITREZOR_PATH)/board/pitrezor/cmdline.txt"

# Common stack + hardening
BR2_PACKAGE_LIBDRM=y
BR2_PACKAGE_SDL2=y
BR2_PACKAGE_PYTHON3=y
BR2_PACKAGE_IPTABLES=y
BR2_PACKAGE_UTIL_LINUX=y
BR2_TARGET_ROOTFS_EXT2=y
BR2_TARGET_ROOTFS_TAR=y
BR2_PACKAGE_HOST_GENIMAGE=y
BR2_PACKAGE_TSLIB=y
