# Raspberry Pi Zero (32-bit)
BR2_arm1176jzf_s=y
BR2_TOOLCHAIN_BUILDROOT_GLIBC=y
BR2_GLOBAL_PATCH_DIR="board/raspberrypi/patches"
BR2_LINUX_KERNEL_DEFCONFIG="bcmrpi_defconfig"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_GIT=y
BR2_LINUX_KERNEL_CUSTOM_REPO_URL="https://github.com/raspberrypi/linux.git"
BR2_LINUX_KERNEL_CUSTOM_REPO_VERSION="stable"

BR2_PACKAGE_TREZORD_GO=y
BR2_PACKAGE_LCD_SHOW=y
BR2_PACKAGE_FBCP=y
BR2_PACKAGE_PYTHON3=y
BR2_PACKAGE_PYTHON3_PIP=y
BR2_PACKAGE_PYTHON3_REQUESTS=y
BR2_PACKAGE_PYTHON3_SERIAL=y
BR2_PACKAGE_PYTHON3_SETUPTOOLS=y

